PORT=3000
SESSION_SECRET=change_this_secret
SQL_SERVER=db-blackcrow-horas.database.windows.net
SQL_DATABASE=horas
SQL_USER=sqladmin
SQL_PASSWORD=krk!equ_NUT6guz0qgv
SQL_ENCRYPT=true
SQL_TRUST_CERT=false
SQL_AUTHENTICATION=azure-active-directory-default
SQL_CONNECTION_STRING="Server=tcp:db-blackcrow-horas.database.windows.net,1433;Initial Catalog=horas;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication=Active Directory Default;"
